extends: airbnb-base
rules:
  func-names: off
  no-cond-assign: off
  no-constant-condition: off
  no-param-reassign: off
  no-shadow: off
  no-use-before-define: off
  max-len: off
  vars-on-top: off
